body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  width: 20px;
  height: 20px;
}

.logo-menu {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a6192e;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.topnav a {
  color: #dfdcdc;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Intro SemiBold', sans-serif;
  font-weight: 600;
  margin: 0 10px;
}

.topnav a:hover {
  color: rgb(255, 255, 255);
}

.topnav a.active {
  color: rgb(255, 255, 255);
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  padding: 12px 20px;
  size: 10%;
  border: 2px solid white;
  border-radius: 25px;
  background-color: #a6192e;
  color: white;
  outline: none;
  margin-left: 10px;
}

.icon {
  display: none; /* Oculto por defecto */
  cursor: pointer; /* Cambia el cursor al estilo de mano */
}

.enlaces {
  display: flex; /* Los enlaces están visibles en pantallas grandes */
  flex-wrap: nowrap;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 1000px) {
  .enlaces {
      display: none; /* Oculta los enlaces */
      flex-direction: column; /* Para cuando se muestren */
      width: 100%; /* Ocupan todo el ancho */
      background-color: #a6192e;
      position: absolute;
      top: 60px; /* Ajusta esta altura al diseño */
      left: 0;
      z-index: 100; /* Para asegurar que aparezcan encima */
  }

  .enlaces a {
      margin: 10px 0; /* Espaciado entre enlaces */
      padding: 10px 20px;
      text-align: left; /* Alinea a la izquierda */
  }

  .icon {
      display: block; /* Muestra el ícono */
  }

  .topnav.responsive .enlaces {
      display: flex; /* Muestra los enlaces cuando se activa */
  }
}
