<div class="topnav" id="myTopnav">
  <!-- Logo y menú -->
  <div class="logo-menu">
      <img class="menu" src="https://www.svgrepo.com/show/41236/dots-menu.svg" alt="">
      <a href="principal" class="active">HEINZ</a>
  </div>

  <!-- Enlaces principales -->
  <div class="enlaces">
      <a href="productos">Producto</a>
      <a href="#contact">Recetas</a>
      <a href="#about">Nuestra Historia</a>
      <a href="#about">Cultivado no fabricado</a>
  </div>

  <!-- Contenedor del input y menú hamburguesa -->
  <div class="input-container">
      <input type="text" id="lname" name="lname" value="Doe">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
      </a>
  </div>
</div>
  