<footer>
    <div class="footer-container">
        <div class="footer-links">
            <ul>
                <li><a href="#">Heinz</a></li>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Todas las Recetas</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Nuestra Compañía</a></li>
                <li><a href="#">Cultivado No Fabricado</a></li>
                <li><a href="#">Nuestra Historia</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Documentos Legales</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Términos de Uso</a></li>
                <li><a href="#">Brecha salarial de género</a></li>
                <li><a href="#">EU Chicken Commitment</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <ul>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">YouTube</a></li>
            </ul>
        </div>
        <div class="footer-country">
            <ul>
                <li><a href="#">Spain (Español)</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>©2024 Kraft Heinz, Inc. Todos los derechos reservados.</p>
    </div>
</footer>